# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.cursorrules

# Environments
venv/
.env

# Others
*.log
*.json
*.csv
*_.py



# Docker
docker-compose.yml
docker-compose.override.yml

ProfilesListExample.csv

